@use 'functions' as f;

dialog {
  transition-property: opacity, translate, display, overlay;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
  border: 0;

  &::backdrop {
    background-color: var(--color-primary-black);
    transition-property: opacity, display, overlay;
    transition-behavior: allow-discrete;
    transition-duration: 0.5s;
    opacity: 0;
  }

  &[open]::backdrop {
    opacity: 0.8;

    @starting-style {
      opacity: 0;
    }
  }

  .x-icon {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: #{f.relative-size(-50)};
    color: var(--color-primary-grey-light);
    font-size: var(--font-size-15);
  }

  .dialog-container {
    position: fixed;
    inline-size: #{f.relative-size(480)};
    max-inline-size: calc(100% - var(--spacing-4) * 2);
    padding: var(--spacing-4);
    background-color: var(--color-primary-light);
    z-index: 101;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: linear(
      0,
      0.402 7.4%,
      0.711 15.3%,
      0.929 23.7%,
      1.008 28.2%,
      1.067 33%,
      1.099 36.9%,
      1.12 41%,
      1.13 45.4%,
      1.13 50.1%,
      1.111 58.5%,
      1.019 83.2%,
      1.004 91.3%,
      1
    );
    border-radius: var(--border-radius-medium);

    @starting-style {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  &:not([open]) .dialog-container {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
