.title1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-20);
  line-height: var(--line-height-20);
}

.title2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-15);
  line-height: var(--line-height-15);
}

.title3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-10);
  line-height: var(--line-height-10);
}
