<header class="container">
  <h1 class="title1">Solidboy Emulator</h1>
  <p>A GameBoy/GameBoy Color emulator.</p>
  <p>
    You can find homebrew games in the
    <a href="https://hh.gbdev.io/" target="_blank" rel="noreferrer"
      >Homebrew Hub</a
    >
  </p>
</header>
<main class="container">
  <div class="device">
    <div class="screen-container" id="screen-container">
      <div class="insert-rom-container" id="insert-rom-container">
        <span class="upload-icon" aria-hidden="true"></span>
        <label id="insert-rom-label">Insert your ROM</label>
        <input
          type="file"
          class="rom-file"
          id="rom-file"
          arial-labelledby="insert-rom-label"
        />
      </div>
    </div>
    <div class="controls">
      <div class="direction-container">
        <button
          type="button"
          aria-label="Up"
          class="up-direction"
          id="up-direction"
        ></button>
        <button
          type="button"
          aria-label="Right"
          class="right-direction"
          id="right-direction"
        ></button>
        <button
          type="button"
          aria-label="Down"
          class="down-direction"
          id="down-direction"
        ></button>
        <button
          type="button"
          aria-label="Left"
          class="left-direction"
          id="left-direction"
        ></button>
      </div>
      <div class="menu-container">
        <div class="select-container">
          <button
            type="button"
            aria-label="Select"
            class="select-button"
            id="select-button"
          ></button>
          <span>Select</span>
        </div>
        <div class="start-container">
          <button
            type="button"
            aria-label="Start"
            class="start-button"
            id="start-button"
          ></button>
          <span>Start</span>
        </div>
      </div>
      <div class="buttons-container">
        <div class="b-button-container">
          <button
            type="button"
            aria-label="B"
            class="b-button"
            id="b-button"
          ></button>
          <span>B</span>
        </div>
        <div class="a-button-container">
          <button
            type="button"
            aria-label="A"
            class="a-button"
            id="a-button"
          ></button>
          <span>A</span>
        </div>
      </div>
    </div>
    <div class="settings">
      <button
        type="button"
        class="button default hollow"
        commandfor="console-modal"
        command="show-modal"
      >
        <span class="terminal-icon" aria-hidden="true"></span>
        Console
      </button>
      <button type="button" class="button default hollow">
        <span class="volume-icon" aria-hidden="true"></span>
        Mute
      </button>
      <button
        type="button"
        class="button default hollow"
        commandfor="keyboard-modal"
        command="show-modal"
      >
        <span class="table-icon" aria-hidden="true"></span>
        Keyboard Mapping
      </button>
    </div>
    <dialog id="console-modal" closedby="any">
      <div class="dialog-container">
        <button
          type="button"
          aria-label="Close"
          class="x-icon"
          commandfor="console-modal"
          command="close"
        ></button>
        <pre class="console" id="console"></pre>
      </div>
    </dialog>
    <dialog id="keyboard-modal" class="keyboard-modal" closedby="any">
      <div class="dialog-container">
        <button
          type="button"
          aria-label="Close"
          class="x-icon"
          commandfor="keyboard-modal"
          command="close"
        ></button>
        <table>
          <thead>
            <tr>
              <th>Button</th>
              <th>Keyboard</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A</td>
              <td>
                <span class="keyboard-button">S</span>
              </td>
            </tr>
            <tr>
              <td>B</td>
              <td>
                <span class="keyboard-button">A</span>
              </td>
            </tr>
            <tr>
              <td>Start</td>
              <td>
                <span class="keyboard-button">Enter</span>
              </td>
            </tr>
            <tr>
              <td>Select</td>
              <td>
                <span class="keyboard-button">Space</span>
              </td>
            </tr>
            <tr>
              <td>Up</td>
              <td>
                <span class="keyboard-button">Up</span>
              </td>
            </tr>
            <tr>
              <td>Down</td>
              <td>
                <span class="keyboard-button">Down</span>
              </td>
            </tr>
            <tr>
              <td>Left</td>
              <td>
                <span class="keyboard-button">Left</span>
              </td>
            </tr>
            <tr>
              <td>Right</td>
              <td>
                <span class="keyboard-button">Right</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </dialog>
  </div>
</main>
<footer class="container">
  <p>
    ©
    <span class="current-year" id="current-year"></span>
    Nikos Printezis. All Rights Reserved.
  </p>
  <nav>
    <ul>
      <li>
        <a href="/">Find more content</a>
      </li>
      <li>
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a
          href="https://github.com/printezisn/solidboy"
          target="_blank"
          rel="noreferrer nofollow"
          >GitHub</a
        >
      </li>
    </ul>
  </nav>
</footer>
